<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Adesuwa's software engineering portfolio, showcasing software development projects, technical skills and experience.">

    <title>{% block title %}Adesuwa | Software Engineering{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>

    {% include 'partials/header.html' %}

    <main>
        {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html' %}

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>