{% extends "base.html" %}

{% block title %}Home | Adesuwa{% endblock %}

{% block content %}

<section class="hero">

    <h1>Hi, I'm Adesuwa.</h1>

    <p>
        I build software that solves practical problems and I'm interested
        in how systems work behind the scenes.
    </p>

    <a href="/projects">View My Projects</a>

</section>


<section class="intro">

    <h2>About Me</h2>

    <p>
        A motivated Software Engineering student with a strong interest in developing practical technical skills and applying them to real-world problems. Experienced in programming, web development, databases and collaborative software projects, with a particular interest in developing reliable and user-focused applications. I enjoy learning new technologies, solving problems and continuously expanding my knowledge. Through university, employment and extracurricular experiences, I have developed strong teamwork, communication, organisation and leadership skills. I am currently seeking an opportunity to apply my technical knowledge in a professional environment, contribute to a development team and continue building my skills as a software engineer. 
    </p>

</section>


<section class="skills">

    <section>
        <h3>Frameworks and Technologies</h3>

        <ul>
            <li>Git & GitHub</li>
            <li>SQL & Database Management</li>
            <li>REST APIs</li>
            <li>Object-Oriented Programming</li>
            <li>Software Development Lifecycle</li>
            <li>Debugging & Testing</li>
            <li>Agile/Scrum</li>
            <li>Web Development</li>
            <li>ASP.NET Core / MVC</li>
            <li>Entity Framework Core</li>
        </ul>
    </section>


    <section>
        <h3>Core Skills</h3>

        <ul>
            <li>Teamwork & Collaboration</li>
            <li>Leadership</li>
            <li>Adaptability</li>
            <li>Attention to Detail</li>
            <li>Communication</li>
            <li>Time Management</li>
            <li>Troubleshooting</li>
            <li>Continuous Learning</li>
            <li>Organisation</li>
            <li>Critical Thinking</li>
            <li>Initiative</li>
        </ul>
    </section>


    <section>
        <h3>Languages</h3>

        <ul>
            <li>C#</li>
            <li>Java</li>
            <li>JavaScript</li>
            <li>Python</li>
            <li>C</li>
            <li>HTML/CSS</li>
        </ul>
    </section>

</section>

{% endblock %}